/* ベーススタイル */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  width: 95%;
  margin: auto;
  overflow: hidden;
}

/* ヘッダー */
header, footer {
  background: #333333;
  color: #fff;
  padding: 30px 0;
  min-height: 70px;
  border-bottom: #0779e4 3px solid;
}

header a, footer a {
  color: #fff;
  text-decoration: none;
  /* text-transform: uppercase; */
  font-size: 16px;
}

.admin-header {
  background: #7dc6f1;
  color: #fff;
  padding: 10px 0;
  text-align: left;
  border-bottom: 4px solid #241f84;
}

.login-form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.login-form h2 {
  margin-bottom: 20px;
}

.login-form .field {
  margin-bottom: 15px;
}

.login-form label {
  font-weight: bold;
}

.login-form .actions {
  text-align: center;
}

.login-form input[type="email"],
.login-form input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* ホバー時のスタイルを無効にする */
.login-form input[type="submit"]:hover {
  background-color: #007bff;
}

.contact-form {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.contact-form h2 {
  margin-bottom: 20px;
}

.contact-form .field {
  margin-bottom: 15px;
}

.contact-form label {
  font-weight: bold;
}

.contact-form .actions {
  text-align: center;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.contact-form textarea {
  resize: vertical; /* テキストエリアのサイズを縦方向にのみ変更できるようにします */
}

.contact-form input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* ホバー時のスタイルを無効にする */
.contact-form input[type="submit"]:hover {
  background-color: #007bff;
}

.main-container {
  max-width: 800px; /* 適宜変更してください */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.main-table {
  width: 100%;
  margin: 0 auto;
}

thead th {
  background-color: #f0f0f0;
}

/* app/assets/stylesheets/custom.css */
.container {
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
}

.text-center {
  text-align: center;
}

.search-form {
  margin-bottom: 20px;
}

.search-form h2 {
  margin-bottom: 10px;
}

.form-inline {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.form-group {
  margin-right: 10px;
}

.form-control {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.styled-table {
  width: 95%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 18px;
  text-align: left;
}
枠線
.styled-table th, .styled-table td { 
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table th {
  background-color: #84aed84f;
  color: #333;
}
/* 偶数列の色 */
.styled-table tbody tr:nth-of-type(even) {
  background-color: #edecec;
}

.img-thumbnail {
  border-radius: 4px;
  max-width: 100%;
  height: 100%;
}

.badge {
  padding: 5px 10px;
  border-radius: 4px;
  color: black;
}

/* Searchボタンのスタイル */
.search-form .btn-search {
  background-color: #28a745; /* 緑色 */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.table-container {
  max-width: 100%; /* 必要に応じて最大幅を設定 */
  overflow-x: auto; /* 横方向のスクロールバーを表示 */
  border: 1px solid #ccc; /* 必要に応じて枠線を設定 */
}

.styled-table {
  width: 100%;
  table-layout: fixed; /* テーブルの幅を固定する */
  border-collapse: collapse; /* テーブルのボーダーを重ねる */
}

.styled-table th, .styled-table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
}

.styled-table th {
  background-color: #84aed84f;
  color: #333;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #edecec;
}

.styled-table img {
  max-width: 100%;
  height: auto;
  border-radius: 4px; /* 画像に丸みを持たせる場合 */
}
